<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre </h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a consectetur neque. Quisque fermentum quam quis malesuada ornare. Maecenas lobortis ipsum vitae tincidunt fermentum. Mauris nec mi ut nibh dictum lobortis. Maecenas facilisis sapien nec metus pulvinar ultricies. Nunc ex velit, accumsan eget lectus at, feugiat hendrerit turpis. Phasellus congue dui nec leo maximus, sodales rutrum justo pharetra. Vestibulum rhoncus lectus tortor, non vehicula turpis maximus non. Nullam mollis eleifend nisl, porta interdum magna.
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato:</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email@angular.com.br</li>
                <li><i class="fa-solid fa-phone"></i> (00) 00000-0000</li>
                <li><i class="fa-brands fa-whatsapp"></i> (00) 00000-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os Direitos Reservados
    </section>
</footer>
